#message {
    color: #f8f9fa;
    font-family: "Lucida Console";
}

#content {
    height: 400px;
    width: 100%;
    padding: 15px 15px 15px 15px;

    overflow-y: auto;
}

input[type="text"] {
    background-color: #000000;
    border-color: #000000;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);

    color: #f8f9fa;
    padding-left: 10px;

    width: 100%;
}

input[type="text"]:focus {
    border-color: #000000;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);

    font-family: "Lucida Console";
}

label {
    color: #f8f9fa;
}

h2 {
    align-content: center;
    color: #f8f9fa;
}

hr {
    border-color: #0c5460;
    background-color: #0c5460;
    color: #0c5460;
}

#title {
    color: #f8f9fa;
}

#by-line {
    font-family: "Lucida Console";
}

#footer {
    color: #f8f9fa;
    text-align: center;
}

/* SCROLLBAR TESTING */
.scrollbar {
    margin-left: 30px;
    float: left;
    height: 300px;
    width: 65px;
    background: #F5F5F5;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.force-overflow
{
    min-height: 450px;
}

#content::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #000000;
    border-radius: 10px;
}

#content::-webkit-scrollbar
{
    width: 10px;
    background-color: #000000;
}

#content::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(217, 216, 216)),
    color-stop(0.72, rgb(189, 186, 189)),
    color-stop(0.86, rgb(112, 108, 113)));
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #000000;
    border-radius: 10px;
}

::-webkit-scrollbar
{
    width: 10px;
    background-color: #000000;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(217, 216, 216)),
    color-stop(0.72, rgb(189, 186, 189)),
    color-stop(0.86, rgb(112, 108, 113)));
}

#map {
    display: flex;
    align-items: center;
    vertical-align: center;
    horiz-align: center;

    color: #f8f9fa;
}

#map-row {
    height: 25px;
    width: 125px;
}

#map-col {
    width: 25px;
    height: 25px;
}